header,
section {
  width: 100%;
  height: 100vh;
  display: flex;
  @media (max-width: $screen-medium) {
    flex-direction: column;
    // height: 100%;
    height: 65vh;
    justify-content: center;
  }
}

.half {
  width: 50%;
  @media (max-width: $screen-medium) {
    width: 100%;
  }
}

section,
header div img,
header div h1,
.header-right {
  padding: 4rem;
  @media (min-width: $screen-xlarge) {
    padding: $padding-large; //5rem
  }
  @media (max-width: $screen-medium) {
    padding: $padding-tablet; // 3rem
  }
  @media (max-width: $screen-tablet) {
    padding: $padding-small; // 2rem
  }
}

.mobile-word-breaker {
  display: none;
  @media (max-width: $screen-tachyon-large) {
    display: block;
  }
}

@media (max-width: $screen-tablet) {
  .hide-in-tablet {
    display: none;
  }
}

.icon0 {
  max-width: 30vw;
  @media (max-width: $screen-tablet) {
    max-width: 32vw;
  }
}

div.icon0 {
  align-self: flex-end;
}

.height-ratio-wrapper {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  @media (max-width: $screen-tablet) {
    height: auto;
    padding: 0;
  }
}

@media (max-width: $screen-tablet) {
  header.height-ratio-wrapper {
    height: 40vh;
  }
}

.height-ratio-object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @media (max-width: $screen-tablet) {
    top: auto;
    right: auto;
    position: relative;
  }
}

.height-ratio-object-left {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  @media (max-width: $screen-tablet) {
    width: 100%;
    top: auto;
    right: auto;
    position: relative;
  }
}

.height-ratio-object-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  @media (max-width: $screen-tablet) {
    width: 100%;
    top: auto;
    right: auto;
    position: relative;
  }
}

.global-padding {
  padding: 4rem;
  @media (max-width: $screen-medium) {
    padding: 3rem 3rem 3rem 2rem;
  }
}

// $screen-tablet: 768px 과 1024px 사이 padding이 필요
#work-info {
  @media (min-width: $screen-tablet) and (max-width: $screen-medium) {
    padding: 3rem 3rem 3rem 2rem;
  }
}
.mobile-global-padding {
  @media (max-width: $screen-tablet) {
    padding: 3rem 3rem 3rem 2rem;
  }
}
