$highlight-color: #3dc2da;
$headline-color: #1b1b1b;
$body-color: #282828;
$light-grey: #e5e1d7;

// padding
$padding-large: 5rem; // over 1920px
$padding-regular: 4rem; // over 1024px
$padding-tablet: 3rem; // over 768px
$padding-small: 2rem; // mobile

// breakpoints
$screen-xlarge: 1920px;
$screen-large: 1440px;
$screen-medium: 1024px;
$screen-tachyon-large: 960px;
$screen-tablet: 768px;
$screen-mobile: 680px;
$screen-small: 480px;
